<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Confirmacion</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="container">
        <h1>Gracias <%= name %> por confirmar tu asistencia</h1> 
        <h2>Te esperamos</h2>             
    </div>
    <div class="bubble-container"></div>
    <script src="./js/index.js"></script>
</body>
</html>
